<section class="feedback">
  <div class="container-feedback">
    <h2 class="feedback-title">Відгуки клієнтів</h2>
    <h3 class="feedback-description">
      Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.
    </h3>
    <ul class="feedback-list"></ul>
    <div class="pagination-btn-wrapper">
    <div class="pagination"></div>
    <div class="btn-wrapper">
    <button class="left-btn" type="button">
      <svg class="left-btn-icon" width="14" height="14">
      <use href="./img/icons.svg#icon-arrow-left"></use>
    </svg>
    <button class="right-btn" type="button">
      <svg class="right-btn-icon" width="14" height="14">
      <use href="./img/icons.svg#icon-arrow-right"></use>
    </svg>
    </button>
    </div>
    </div>
  </div>
  <script type="module" src="/src/js/feedback.js"></script>
</section>

