<section class="feedback">
  <div class="container-feedback">
    <h2 class="feedback-title">Відгуки клієнтів</h2>
    <h3 class="feedback-small-title">
      Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.
    </h3>
    <ul class="feedback-list">
      <li class="feedback-item">
        <ul class="star-container">
          <li class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
          </li>
          <li class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
          </li>
          <li class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
          </li>
          <li class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
          </li>
          <li class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
          </li>
        </ul>
        <p class="feedback-text">текст відгуку</p>
        <p class="feedback-author">автор відгуку</p>
      </li>
    </ul>
    <div class="pagination"></div>
    <button class="left-btn"></button>
    <button class="right-btn"></button>
  </div>
</section>
