<section class="furniture" id="furniture">
  <div class="container-furniture">
    <h2 class="title-furniture">Наші меблі</h2>
    <p class="text-furniture">Знайдіть ідеальні рішення для вашого інтер'єру</p>

    <ul class="categories-list" id="categories"></ul>

    <ul class="furniture-list" id="furniture-list"></ul>
  </div>

  <div class="container-pagination">
    <button class="load-more btn-furniture" id="load-more" type="button">
      Показати ще
    </button>
  </div>

  <span id="loader" class="loader"></span>
</section>
