<header class="header">
  <div class="container-header">
    <h2>Header</h2>
    <a>
      <img src="./img/logo.svg" />
    </a>
    <svg class="socials-icon" width="32" height="32">
      <use href="./img/icons.svg#icon-instagram"></use>
    </svg>
    <svg class="socials-icon" width="32" height="32">
      <use href="./img/icons.svg#icon-relume"></use>
    </svg>
    <svg class="socials-icon" width="32" height="32">
      <use href="./img/icons.svg#icon-x"></use>
    </svg>
    <svg class="socials-icon" width="32" height="32">
      <use href="./img/icons.svg#icon-chevron-right"></use>
    </svg>
    <svg class="socials-icon" width="32" height="32">
      <use href="./img/icons.svg#icon-arrow-back"></use>
    </svg>
  </div>
</header>
