<header class="header">
  <div class="container container-header">
    <nav class="nav">
      <a class="logo" href="./index.html">
        <img src="./img/logo.svg" alt="logo" width="163" height="70" />
      </a>

      <div class="nav-desktop">
        <ul class="nav-list">
          <li><a href="#furniture" class="nav-link">Наші меблі</a></li>
          <li><a href="#about" class="nav-link">Про нас</a></li>
          <li><a href="#faq" class="nav-link">Часті питання</a></li>
          <li><a href="#feedback" class="nav-link">Відгуки</a></li>
        </ul>
        <a href="#furniture-list" class="btn-primary">До покупок</a>
      </div>

      <button class="menu-toggle js-open-menu" aria-expanded="false">
        <svg width="21.33" height="16">
          <use href="./img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
  </div>

  <div class="mobile-menu js-menu-container">
    <div class="mobile-menu-head">
      <a class="logo mobile-logo" href="./index.html">
        <img src="./img/logo.svg" alt="logo" width="163" height="70" />
      </a>

      <button class="menu-close js-close-menu">
        <svg width="15.08" height="15.08">
          <use href="./img/icons.svg#icon-x"></use>
        </svg>
      </button>
    </div>

    <ul class="mobile-nav-list">
      <li><a href="#furniture" class="mobile-nav-link">Наші меблі</a></li>
      <li><a href="#about" class="mobile-nav-link">Про нас</a></li>
      <li><a href="#faq" class="mobile-nav-link">Часті питання</a></li>
      <li><a href="#feedback" class="mobile-nav-link">Відгуки</a></li>
    </ul>

    <a href="#furniture-list" class="btn-primary mobile-btn">До покупок</a>
  </div>
</header>
