.about {
  padding: 0 20px;
}

.container-about {
  padding: 64px 0;
}

@media screen and (min-width: 768px) {
  .about {
    padding: 0 32px;
  }

  .container-about {
    padding: 32px 0;
  }
}

@media screen and (min-width: 1440px) {
  .about {
    padding: 0 64px;
  }

  .container-about {
    padding: 64px 0;
  }
}
