.header {
  padding: 0 20px;
}

.container-header {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 32px;
  }
  .container-header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 0 64px;
  }
  .container-header {
    padding-top: 0;
    padding-bottom: 0;
  }
}
