.hero {
  padding: 0 20px;
}

.container-hero {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 0 32px;
  }
  .container-hero {
    padding: 0;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding: 0 64px;
  }
  .container-hero {
    padding-bottom: 92px;
    padding-top: 92px;
  }
}
