/* Common styles */
@import url('modern-normalize/modern-normalize.css');
@import url('./reset.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./furniture.css');
@import url('./about.css');
@import url('./faq.css');
@import url('./feedback.css');
@import url('./order-modal.css');
@import url('./product-modal.css');
@import url('./footer.css');

/*Fonts styles*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #080c09;
  background-color: #fff;
}
